.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.convert {
    height: 209px;
    width: 349px;
    border: 1px solid;
    border-color: #2E0039;
    border-radius: 21px;
    background-color: #2E0039;
    margin-top: 10px;
    color: #FFFFFF;
}

.convert .content {
    display: flex;
    align-items: flex-start;
    margin-left: 20px;
    flex-direction: column;
}

.content .converter, .content input {
    background-color: #2E0039;
    width: 218px;
    border: none;
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}

.content input {
    margin-right: 15px;
}

.line_content {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.line_content .converter {
    margin-right: 15px;
}

.content input:focus {
    border: none;
}

#number_result {
    font-size: 24px;
    margin-left: 153px;
    margin-top: -5px;
    font-weight: 700;
}

#text_converter {
    font-size: 16px;
    font-weight: 700;
    margin-left: 15px;
}

.result {
    margin-top: 15px;
}

@media screen {
    
}