.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.convert {
    height: 209px;
    width: 85%;
    border: 1px solid;
    border-color: #2E0039;
    border-radius: 21px;
    background-color: #2E0039;
    margin-top: 10px;
    color: #FFFFFF;
    max-width: 717px;
}

.convert .content {
    display: flex;
    align-items: flex-start;
    margin-left: 20px;
    flex-direction: column;
}

.conversion-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content .converter, .content input {
    background-color: #2E0039;
    width: 100%;
    border: none;
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}

.content input[type=number] {
    text-align: end;
}

.line_content {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    width: 85%;
    max-width: 266px;
}

.line_content .firstColumn {
    display: flex;
    width: 85%;
}
.line_content .secondColumn {
    display: flex;
    width: 15%;
    margin-left: 15px;
}

.content input:focus {
    border: none;
}

#number_result {
    font-size: 24px;
    margin-top: -5px;
    font-weight: 700;
    width: 80%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#text_converter {
    font-size: 16px;
    font-weight: 700;
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

#iconoFav {
    display: flex;
    width: 20%;
}

.result-content {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.result {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    width: 85%;
    max-width: 266px;
}

.result .firstColumn {
    display: flex;
    width: 85%;
}

.result .secondColumn {
    display: flex;
    width: 15%;
    margin-left: 15px;
}

@media (min-width:765px) {
    .conversion-content {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .conversion-content .line_content:first-of-type + .line_content {
        margin-left: 90px;
    }

    #number_result {
        margin-left: 344px;
    }
    .result {
        width: 100%;
        max-width: 622px;
    }

    .line_content.result {
        width: 85%;
    }
    .result .firstColumn {
        width: 94%;
    }
    .result .secondColumn {
        width: 6%;
    }
}