.savedConversions {
    width: 85%;
    max-width: 717px;
}

.saved-content {
    display: flex;
    align-items: flex-start !important;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

.saved-items {
    display: flex;
    flex-direction: column;
    width: 100%;
}


#titleSaved {
    color: #676767;
    font-size: 16px;
    font-weight: 700;
    margin-top: 40px;
    display: flex;
}

.item {
    background-color: #E3E3E3;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 349px;
}

.itemInfo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.itemText {
    color: #676767;
    font-size: 14px;
    font-weight: 400;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
    
}

.removeItem {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.removeItem .close {
    
    color: #676767;
}

@media (min-width:768px) {
    .saved-items {
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
        width: 100%;
    }

    .item:nth-child(even){
        margin-left: 1%;
    }
}

