.App {
  text-align: center;
}

.icon {
  color: #2E0039;
  width: 32px;
  height: 32px;
}

#title {
  font-family: 'Poppins';
  font-size: 20px;
  color: #2E0039;
  margin-left: 44px;
  font-weight: 900;
  line-height: 30px;
}


@media (prefers-reduced-motion: no-preference) {
  
}

.App-header {
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
